body {
  font-family: Poppins, Helvetica, sans-serif;
}
/* .Registerationbg {
  background-image: url('/public/images/pagebg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
} */

.Registeration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.register-logo {
  margin-top: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
}

.register-form {
  position: static;
}

.register-logo > h6 {
  color: #e79737;
  margin-bottom: 0px;
  font-size: 22px;
  text-align: center;
}
.register-logo > img {
  width: 100px;
  margin-bottom: 10px;
}
.Registeration::before {
  content: '';
  background-image: url('/public/images/Registerbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.register-btn {
  display: flex;
  justify-content: center;
}
.alreadyaccount {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}
.form-control {
  background-color: #a19390;
  border: none;
  color: white;
  font-size: 12px;
  width: 250px;
}
.form-control::placeholder {
  color: white;
}
.form-control:focus {
  background-color: #a19390;
  color: white;
}

.register-btn > button {
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  padding: 3px 15px;
  background: linear-gradient(to right, #beb7b6, #968c89, #beb7b6);
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}
.loginit {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
